<div class="search-wrapper glass-card">

  <div class="search-header">

    <h2>Book Your Journey</h2>

    <p>
      Experience premium travel with elegant search and booking.
    </p>

  </div>

  <form [formGroup]="searchForm" (ngSubmit)="search()">

    <div class="row g-4">

      <div class="col-md-3">

        <label>From</label>

        <input
          class="form-control custom-input"
          formControlName="source"
          placeholder="Mumbai"
        >

      </div>

      <div class="col-md-3">

        <label>To</label>

        <input
          class="form-control custom-input"
          formControlName="destination"
          placeholder="Delhi"
        >

      </div>

      <div class="col-md-3">

        <label>Departure</label>

        <input
          type="date"
          class="form-control custom-input"
          formControlName="date"
        >

      </div>

      <div class="col-md-3 d-flex align-items-end">

        <button class="primary-btn w-100" type="submit">
          Search Flights
        </button>

      </div>

    </div>

    <div class="traveler-box mt-4">

      <div class="traveler-item">
        <span>Adults</span>
        <strong>{{ searchForm.value.adult }}</strong>
      </div>

      <div class="traveler-item">
        <span>Children</span>
        <strong>{{ searchForm.value.child }}</strong>
      </div>

      <div class="traveler-item">
        <span>Cabin</span>
        <strong>{{ searchForm.value.travelClass }}</strong>
      </div>

    </div>

  </form>

</div>